---
import ArrowDown from "./icons/arrowDown.svelte";

type Credential = {
  domain: string;
  email: string;
  username: string;
  password: string;
};

// Define a prop for your component
let {domain, email, username, password}: Credential = Astro.props as Credential;

let isOpen = false;

function toggleDropdown() {
  isOpen = !isOpen;
  return undefined;
}
---

<li class="" onclick={toggleDropdown()}>
  <!--insertar in svg y darle el onClick -->
  <span class="flex items-center">
    <ArrowDown className="size-3"/>
    <span class="ml-2">{domain}</span>
  </span>
  <div class={`${isOpen ? 'block' : 'hidden'}`}>
    <span class="border-l ml-2">{email}</span><br />
    <span class="border-l ml-2">{username}</span><br />
    <span class="border-l ml-2">{password}</span>
  </div>
</li>